.activities{
    flex: 1;
    color: white;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.8);
}