@font-face {
    font-family: Roboto;
    src: url("../../public/assets/fonts/Roboto-Regular.ttf") format('truetype');
}

* {
    font-family: Roboto, serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

#root {
    display: flex;
    align-items: center;
}