@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    font-family: Roboto, serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background: url("/assets/img/christmas.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 100%;
    width: 100vw;
    min-height: 100vh;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

