.login-wrapper {
    position: relative;
    background: transparent;
    width: 420px;
    color: white;
    border-radius: 10px;
    padding: 50px 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-background {
    background: url("/assets/img/christmas.webp") repeat;
    background-size: cover;
    background-position: center 60%;
}